* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.link-page {
  list-style: none;
  margin-top: 25px;
}

.link-page a {
  text-decoration: none;
}
