* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

header {
  margin-bottom: 2rem;
}

main {
  text-align: start;
}

.display-score {
  text-align: end;
  margin-bottom: 2.5rem;
}

#answers,
#question {
  margin: 1rem 0;
}

.answers-display {
  display: flex;
  gap: 3rem;
}

.set-game {
  margin: 10px 0;
  padding: 10px;
  border: none;
}

.set-game:hover {
  background-color: rgb(114, 113, 113);
  cursor: pointer;
}
