* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

header {
  margin-bottom: 2rem;
}

main {
  text-align: start;
}

.score {
  text-align: end;
  margin-bottom: 2.5rem;
}

#answears,
#question {
  margin: 1rem 0;
}

.answears-display {
  display: flex;
  gap: 3rem;
}
